<section class="example">  
  <%= image_tag "whatdo.jpg" %>
  <p>Great Quotes</p>
</section>  
<div class="container">
  <section class="about">
    <h1>About Great Quotes</h1>
    <p>
      Great Quotesは好きな作品のキャラクターの名セリフをつぶやくアプリです。<br>
    </p>
    <p>
    映画、ドラマ、アニメ、漫画、小説の中から、あなたの好きなキャラクターのセリフをつぶやいてみよう！
  </p>
  </section>　
  <div class="row">
	  <div class="col-xs-12 col-md-4">
		  <div class="thumbnail">
			  <%= image_tag "say1.png"%>
			  <div class="caption">
				  <h3>新規投稿</h3>
				  <p>あなたの好きなセリフや言ってみたいセリフを</p>
				  <p>つぶやいてみよう！</p>
				  <p><a href=/blogs/new class="btn btn btn-primary" role="button" target="_blank">投稿</a></p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="thumbnail">
			<%= image_tag "list1.png"%>
			<div class="caption">
				<h3>投稿セリフ一覧</h3>
				<p>名言、格言一覧を見てみよう！</p>
				<p></p>
				<p><a href=/blogs class="btn btn btn-primary" role="button" target="_blank">投稿一覧</a></p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="thumbnail">
			<%= image_tag "login1.png"%>
			<div class="caption">
				<h3>ログイン</h3>
				<p>制作中</p>
				<p>...</p>
				<p><a href=/top class="btn btn btn-primary" role="button" target="_blank">ログイン</a></p>
			</div>
		</div>
	</div> 
</div> 
</div>